  <!-- travel_videos.html.erb -->
<div class="row m-2 pt-2">
  <!-- Video section -->
  <div id="video-container" class="col-md-8">
    <% @videos.each do |video| %>
  <div class="video-card"
       data-latitude="<%= video.latitude %>"
       data-longitude="<%= video.longitude %>"
       data-title="<%= video.title %>"
       data-url="<%= video.url %>">
    <div class="card mb-4 shadow-sm">
      <img src="<%= video.preview_image_url %>"
           class="card-img-top"
           alt="<%= video.title %>">
      <div class="card-body">
        <div class='d-flex justify-content-between align-self-center'>
          <h5 class="card-title"><%= video.title %></h5>
          <% youtube_video_id = video.url.split('v=')[1] %>
          <!-- Aggiungi attributi data per passare l'ID del video a JavaScript -->
          <a href="https://www.youtube.com/watch?v=<%= youtube_video_id %>"
            target="_blank"
            class="play-button"
            style="color: #171f23;">
            <i class="fa-solid fa-circle-play"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>

  </div>

  <!-- Mappa -->
  <div id="map-container" class="col-md-4">
    <div id="map" style="height: 100%;"></div>
  </div>
</div>
